fastapi
uvicorn
pydantic
streamlit
requests
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
python-dotenv
matplotlib
chromadb
pymupdf
pandas
duckduckgo-search
torchvision
